*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: Arial, Helvetica, sans-serif;
}
body img{
    height: 100%;
    width: 100%;
}
.mylogo img{
   height: 50px;
   width: 260px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#333;
    padding: 0.5rem 1rem;
}
.navlink{
    display: flex;
    list-style: none;
}
.navbar .navlink li{
    margin: 0 3rem;
   
}
.navbar .navlink{
    padding-right: 60%;
}
.navbar .navlink a{
    text-decoration: none;
    color: aqua;
    transition: background 0.3s;
  


}
.navbar .navlink li a:hover{
    background-color: whitesmoke;
    border-radius: 5px;
}
span a{
    padding-left: 40rem;
  
}
span a:hover{
color: #333;
}
